# 가상환경
harvy_venv/
sample/

# Python 캐시 파일
__pycache__/
*.py[cod]
*$py.class

# Django 관련
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# 버전 관리
# .env.development
# .env.production

# heroku
*.pyc
__pycache__
db.sqlite3
.env
*.log

# pdf파일 관리
harvy_be/pdf_files/

# key 관리
heroku_certs_backup.txt
heroku_certs_info_backup.xtx
heroku_config_backup.txt